@import url(https://fonts.google.com/specimen/Outfit);

img {
    width: 100%;
    border-radius: 15px;
}

.pageBackground {
    height: 95vh;
    background-color: hsl(212, 45%, 89%);
}

.content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 500px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
}

.text-important {
    width: 70%;
    color: hsl(218, 44%, 22%);
    font-family: Outfit, serif;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.text {
    width: 80%;
    color: hsl(220, 15%, 55%);
    font-family: Outfit, serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
}

.attribution {
    text-align: center;
}
